In [8]:
import pandas as pd
from sklearn.metrics import roc_auc_score
from urllib import request, parse

def load_transactions(transactions_path):
    """Load and prepare transaction data"""
    transactions = pd.read_csv(transactions_path)
    users = transactions.groupby('customer_id')['mcc_code'].apply(list).reset_index()
    types = transactions.groupby('customer_id')['tr_type'].apply(list).reset_index()
    transactions = pd.merge(users, types,  on='customer_id', how='left')

    return transactions
        
user_transactions = load_transactions('Data2/transactions.csv')
user_transactions.head()
# user_transactions.loc[user_transactions.customer_id == 6815]['mcc_code']

,customer_id,mcc_code,tr_type
0,6815,"[4814, 4814, 6010, 6011, 4814, 6011, 6011, 481...","[1030, 1030, 7031, 2010, 1030, 2010, 2010, 103..."
1,22899,"[4814, 4814, 6011, 6011, 6010, 6011, 6011, 481...","[1030, 1030, 2010, 2010, 7030, 2010, 7010, 103..."
2,27914,"[6011, 6011, 6011, 6011, 6011, 6011, 6011, 481...","[2010, 2010, 2010, 2010, 2010, 2010, 2010, 103..."
3,28753,"[8021, 6011, 6011, 6010, 4829, 4814, 6011, 601...","[1010, 2010, 2010, 7030, 2330, 1030, 2010, 201..."
4,31385,"[4814, 6011, 4814, 4814, 4814, 6011, 6011, 569...","[1030, 2010, 1030, 1030, 1030, 2010, 2010, 111..."

In [34]:
import urllib.request
import json      

def get_prediction(customer_id):
    body = {'customer_id': customer_id
           } 

    myurl = "http://0.0.0.0:8180/predict"
    req = urllib.request.Request(myurl)
    req.add_header('Content-Type', 'application/json; charset=utf-8')
    jsondata = json.dumps(body)
    jsondataasbytes = jsondata.encode('utf-8')   # needs to be bytes
    req.add_header('Content-Length', len(jsondataasbytes))
    #print (jsondataasbytes)
    response = urllib.request.urlopen(req, jsondataasbytes)
    return json.loads(response.read())['predictions']

In [35]:
get_prediction(28753)

0.35127410884609955